#Editordiv
{
  
  text-align: center;
}

#editor 
{
 
   background-color : pink;
   margin: 0 auto;
   width: 40%;
   height : 15vw;
}

#preview
{
    background-color : pink;
  width:60%;
 margin : auto;

}


/*npm install --save react-markdown*/
/*<ReactMarkdown source={this.props.markdown}/>*/